
.vs/dx12/v15/Browse.VC.db
.vs/dx12/v15/Browse.VC.opendb
.vs/dx12/v15/ipch/AutoPCH/3eecea60d78d6cfb/D3DUTIL.ipch
.vs/dx12/v15/ipch/AutoPCH/d3bcb4fa510bac06/INITDIRECT3DAPP.ipch
.vs/dx12/v15/ipch/AutoPCH/f560b68b541ae704/D2DAPP.ipch
